***Asssignment***

In [1]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

In [2]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [4]:
1# What is the length of the salaries list.

len(salaries)

7

In [6]:
# 2 Retrieve the third salary in the list by using index.
salaries [3]

'60k'

In [14]:
# 3 Extract the last salary from the list by using a negative index

salaries [-6]

'40k'

In [16]:
# 4 Slice the salaries list to get only the middle three salaries.
salaries [2:5]

['50k', '60k', '35k']

In [22]:
# 5 Add a new salary to the list, ‘100k’ by using append() methodd.
salaries.append('100')

In [23]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100', '100', '100', '100']

In [36]:
#6 Add a new salary to the list, ‘120k’ without method.

salaries[11]='120k'

IndexError: list assignment index out of range

In [34]:
# 7 Replace the third salary in the list with '55k' and print the updated list.

salaries[3]='55k'

In [35]:
salaries

['100', '100', '100', '55k', '40k', '89k', '35k', '60k', '50k', '40k', '20k']

In [28]:
#8 Count how many times '40k' appears in the list

salaries.count('40k')

2

In [29]:
#9 Reverse the order of the salaries list with method
salaries.reverse()

In [30]:
salaries

['100', '100', '100', '100', '40k', '89k', '35k', '60k', '50k', '40k', '20k']

In [ ]:
#10 Reverse the order of the salaries list without method
salaries = salaries[::-1]

In [31]:
salaries

['100', '100', '100', '100', '40k', '89k', '35k', '60k', '50k', '40k', '20k']